@model SurfNPaddleBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>TPTB</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <img class="posts pic" src=@Model.ImageLink>


        

        <dd>
            <h3>
                @Html.DisplayFor(model => model.Title)
            </h3>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</p>
